<mnm-loading></mnm-loading>
<mnm-notification></mnm-notification>
<button (click)="initiateDanger()">Initiate</button>
<button (click)="initiateWarning()">Initiate</button>
<button (click)="initiateInfo()">Initiate</button>
<button (click)="initiateSuccess()">Initiate</button>

<br>
<button (click)="giveMeModal()">Give Me Modal</button>
<button (click)="giveMePrompt()">Give Me Prompt</button>
<button (click)="giveMeList()">Give Me List</button>

<br>
<button (click)="loading()">Loading 2s</button>
<button (click)="blocking()">Blocking 2s</button>
<button (click)="wizard.show()">Wizard</button>
<mnm-wizard #wizard>
  <div style="background: white; padding: 20px; width: 200px; margin: auto">Wizard content</div>
</mnm-wizard>

<div style="
  width: 100px;
  height: 100px;
  background-color: red;
  z-index: 999;
  position:absolute;
  right: 0;
"></div>


<mnm-wizard #wizard>
  here is a wizard
</mnm-wizard>
