<mnm-loading></mnm-loading>
<mnm-notification></mnm-notification>
<button (click)="initiateDanger()">Initiate</button>
<button (click)="initiateWarning()">Initiate</button>
<button (click)="initiateInfo()">Initiate</button>
<button (click)="initiateSuccess()">Initiate</button>

<br>
<button (click)="giveMeModal()">Give Me Modal</button>
<button (click)="giveMePrompt()">Give Me Prompt</button>
<button (click)="giveMeList()">Give Me List</button>

<div style="
  width: 100px;
  height: 100px;
  background-color: red;
  z-index: 999;
  position:absolute;
  right: 0;
"
></div>
